
/* General */
body {
	background: #FFFFFF url('../images/honey_im_subtle.jpg') top left repeat;	
}
p {
	font-family: abel;
}
.breadcrumb {
	visibility: hidden;
	margin: 0;
	padding: 0;
}
.main-container {
	padding: 5px 0 25px 0;
}
.page-header {
	margin: 5px 5px 20px 5px;
	border-bottom: 1px solid #b3b3b3;
}
.block-title {
	font-size: 1.7em;
}
.footer {
	border-top: 1px solid #b3b3b3;
}
.footer-menu li {
	display: inline-block;
}
.caption {
	font-family: abel;
	font-size: 18px;
}

/* Recent: News and Publications */
#block-views-recent-news-block .block-title {
	margin-top: 15px;
}
#block-views-recent-news-block .views-row {
	padding-bottom: 5px;
}

#block-views-recent-news-block-1 .block-title {
	margin-top: 15px;
}
#block-views-recent-news-block-1 .views-row {
	padding-bottom: 5px;
}

/* Posts: News and Publications*/
#block-views-news-view-block .view {
	margin: 10px;
}
#block-views-news-view-block .field-content {
	padding-bottom: 10px;
}
#block-views-news-view-block-1 .view {
	margin: 10px;
}
#block-views-news-view-block-1 .field-content {
	padding-bottom: 10px;
}

/* Researches */
#block-views-slideshow-researches-block {
	padding-top: 20px;	
}
#block-views-slideshow-researches-block .thumbnail img:hover {
    opacity: 0.4;
    filter: alpha(opacity=40);	
}
#block-views-slideshow-researches-block-1 {
	margin-top: 30px;
	border-top: 1px solid #b3b3b3;
}
#block-views-slideshow-researches-block-1 .caption {
	padding: 10px;
}

/* Front Page */
#block-views-front-3-columns-block  {
	padding: 30px 10px 10px 10px;
}
#block-views-front-3-columns-block .caption {
	font-family: abel;
	font-size: 18px;
}
#block-views-front-3-columns-block .thumbnail img:hover {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

/* Projects View */
#block-views-projects-views-block-4 img {
	display: block;
	margin: 10px auto 0 auto;
}
#block-views-projects-views-block-4 .caption {
	padding: 20px;
}
#block-views-projects-views-block-4 .caption h3 {
	text-align: center;
}
#block-views-projects-views-block-5 img {
	display: block;
	margin: 10px auto 0 auto;
}
#block-views-projects-views-block-5 .caption {
	padding: 20px;
}
#block-views-projects-views-block-5 .caption h3 {
	text-align: center;
}
#block-views-projects-views-block-6 img {
	display: block;
	margin: 10px auto 0 auto;
}
#block-views-projects-views-block-6 .caption {
	padding: 20px;
}
#block-views-projects-views-block-6 .caption h3 {
	text-align: center;
}
#block-views-projects-views-block-7 img {
	display: block;
	margin: 10px auto 0 auto;
}
#block-views-projects-views-block-7 .caption {
	padding: 20px;
}
#block-views-projects-views-block-7 .caption h3 {
	text-align: center;
}
#block-views-project-objetive-block .field-content {
	font-family: abel;
	font-size: 18px;
	text-align: justify;
}

/* Researchers */
#block-views-researcher-photo-block-2 .views-field-title a {
	font-size: 20px;
}
#block-views-researcher-photo-block-2 .flex-control-paging li a {
	height: 0;
	width: 0;
}
#block-views-researcher-photo-block-2 .flexslider {
	margin: 0;
}
#block-views-researcher-photo-block-2 .field-content {
	display: block;
	text-align: center;
}

/* Timelines: News and Publication */
#block-views-timeline-block-1 p {
	color: #000d1a;
}
#block-views-timeline-block-1 h3 {
	text-align: center;
}
#block-views-timeline-block-1 .container a {
	color: rgb(0, 136, 204);
}
#block-views-timeline-block-2 p {
	color: #000d1a;
}
#block-views-timeline-block-2 h3 {
	text-align: center;
}
#block-views-timeline-block-2 .container a {
	color: rgb(0, 136, 204);
}

/* Language Icons */
#block-locale-language li {
	display: inline;	
	float: right;
}
#block-locale-language li img {
	padding: 0;
	border: 0;
	margin: 2px;
}
#block-locale-language .en .language-icon {
	width: 35px;
	height: 24px;
}

.field-name-field-gallery {
	padding-top: 10px;
}

#block-system-main #flexslider-1 {
	margin-top: 20px;
}